#title{
    background-color: rgba(239, 93, 40, 0.871);
}
.phone{
    margin: 10px auto;
}
h1{
    size:2.5rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;;
}
#title{
    color: aliceblue;
}
.navbar{
    padding-bottom: 3.5rem;
}
.phone{
    padding-top: 6rem;
}
.phone1{
    padding-top: 6rem;
   /* transform: rotate(25deg);*/
    width:40%;
}
.brandname{
    font-size: 2.5rem;
    font-family: 'Secular One', sans-serif;;
}
.button
{
    margin-top: 32%;
}
.pickup{
    font-size:1rem;
    padding-left: 50rem;
    padding-top: 1.25rem;
    color: rgb(123, 119, 119);
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
}
h3{
    font-family: "Montserrat";
}
p{
    color: #8f8f8f;
}
.icon{
    color: rgba(239, 93, 40, 0.871);
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ef3b09;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
   background-color:#df995b;
   color: #fff ;
}
h2{
    font-family: "Montserrat";
   line-height: 1.5;
   font-size: 3.5rem;
}
.pricing-title
{
    margin: auto 2%;
}
#pricing{
    text-align: center;
    margin: 3% 0;
}
@media (max-widht:1028px)
{
    #title{
        text-align: center;
    }
}
#cta{
    background-color: #f65307;
    text-align: center;
    margin: 10% 0;
    padding: 7% 15%;
    color: #fff;
    line-height: 1.5 ;
}
.ctae{
    padding-bottom: 5% ;
}
#footer{
    text-align: center;
}
.foot{
    display:inline-block ;
}